body{

  color:#40514E;
  margin:0;
  text-align:center;
  font-family: 'Merriweather', serif;

}
.top-container{
    background-color: #E4F9F5;
    padding-top:100px;
    position: relative;
}
h1{
  color: #66BFBF;
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size:5.62rem;
}
h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size:2.5em;
  padding-bottom:10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  width:5%;
  margin:100px auto;

}
.top-cloud{
  position: absolute;
  right: 500px;
  top:50px;
}
.bottom-cloud{
  position: absolute;
  left: 500px;
  bottom:300px;

}

.profile-pix{
  border-radius:50%;
  margin-top:30px;
}
p{
  line-height:2;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  }
.giphy{
  width:25%;
  float: left;
  margin-right:30px;
}
.data{
  width:25%;
  float: right;
  margin-left:30px;
}
.middle-container{
  margin:100px 0;
}
.bottom-container{
  background-color:#66BFBF;
  padding: 50px 0 20px;
}
.intro{
  width:40%;
  margin: auto;
}
.contact-message{
  width:40%;
  margin: 40px auto 60px;
}
a{
color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration:none;
}
a:hover{
  color:#EAF6F6;
}
.copyright{
  color:#EAF6F6;
  font-size:0.75rem;
  padding: 20px 0;
}
.myButton {
	box-shadow:inset 0 1px 0 0 #666666;
	background:linear-gradient(to bottom, #11CDD4 5%, #11999E 100%);
	background-color:#11CDD4;
	border-radius:8px;
	border:1px solid #11CDD4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:11px 26px;
	text-decoration:none;
	text-shadow:0 1px 0 #666666;
}
.myButton:hover {
	background:linear-gradient(to bottom, #30E3CB 5%, #2BC4AD 100%);
	background-color:#30E3CB;
}
.myButton:active {
	position:relative;
	top:1px;
}
